h1, h2{
	color: #760001;
}

header{
	padding-top: 20px;
	background: lightgrey;
	height:100px;
}

p{
	font-size: 20px;
	color: grey;
}

.btn {
	margin-left: 110px;
	margin-top: -45px;
}

.btn-primary{
	margin-left: 10px;
	margin-bottom: -30px;
}

#bonjSession{
	font-size: 18px;
	color: #760001;
}

.news{
	border: 1px solid #760001; 
	margin: 15px 15px 15px;
}

.news :hover{
	color: #760001;
}

.vuChapComment{
	background: radial-gradient(white,grey);
	border: 1px solid black;
    border-radius: 5px;
    
}

.commentaires{
	border: 1px solid #760001; 
	margin: 15px 15px 15px;
}

.error{
	color: red;
}

.form{
	margin: 50px;
}
